.prime {
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  background: #000000;
}

.primary {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  background: #e8e8e8;
  color: #000000;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.prime:hover .primary {
  /* Pull the .prime upwards when hovered */
  transform: translateY(-0.33em);
}

.prime:active .primary {
  /* Push the .prime downwards when pressed */
  transform: translateY(0);
}

.secondary {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  .secondary:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .secondary:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .secondary span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 1.2rem 1.5rem;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 5;
    transition: all 0.3s ease-in-out;
  }
  
  .secondary:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
