.prime {
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  background: #070707;
}

.primary {
  display: block;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 0.3rem;
  padding: 0.75rem 1.25rem;
  background: #04ee04;
  cursor: pointer;
  color: #000000;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.prime:hover .primary {
  transform: translateY(-0.33em);
}

.prime:active .primary {
  transform: translateY(0);
}

.secondary {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #04ee04;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
  
  .secondary:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FECD08;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  .secondary:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  .secondary span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: .95rem 1.5rem;
    color: #000000;
    font-size: 17px;
    font-weight: bolder;
    letter-spacing: 0.3em;
    z-index: 5;
    transition: all 0.3s ease-in-out;
  }
  
  .secondary:hover span {
    animation: scaleUp 0.3s ease-in-out;
  }
  @media (max-width: 650px) {
    .secondary span {
      padding: .5rem .75rem;
    font-size: 10px;

    }
  }
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
